.blackout {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correctAnswer {
    position: fixed;
    background-color: white;
    width: 400px;
    height: 220px;
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
}

.correctAnswer img {
    width: 200px;
    height: 100px;
    margin: 0 auto;
    transition: width 3s;
}

.correctAnswer img:hover {
    width: 380px;
}

.correctAnswer .correct {
    color: rgb(72, 240, 72);
    font-size: 40px;
    font-weight: bold;
}

.correctAnswer button {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: rgb(15, 100, 100);
    font-weight: bold;
    transition: color ease 0.3s;
    border: none;
}

.correctAnswer button:hover {
    color: rgb(72, 240, 72);
}

.correctAnswer button:active {
    transform: scale(1.1);
}